body {
    background-color: #8e73c9;
    margin: 0;
    font-family: Arial, sans-serif;
}

#btn-adicionar {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

#btn-adicionar:hover {
    background-color: #8e24aa;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

nav {
    background-color: #1B0E37;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}